<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="example suite 1" verbose="1" >
    <parameter name="servicePath" value="http://localhost"/>
    <parameter name="servicePort" value="9000"/>
    <parameter name="serviceHealthPort" value="9001" />
    <test name="Regression suite 1" >
        <classes>
            <class name="ben.math.distribution.ServiceTests"/>
        </classes>
    </test>
</suite>