<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="example suite 1" verbose="1" >
    <parameter name="servicePath" value="http://localhost"/>
    <parameter name="servicePort" value="%SERVICE_PORT%"/>
    <parameter name="serviceHealthPort" value="%SERVICE_HEALTH_PORT%" />
    <parameter name="awsBucketName" value="ben51-test-bucket" />
    <parameter name="awsS3DataLocation" value="pdfData" />
    <test name="Regression suite 1" >
        <classes>
            <class name="ben.math.distribution.ServiceTests"/>
        </classes>
    </test>
</suite>